.lsux-footer {
  height: 32px;
  line-height: 32px;
}

.lsux-footer-margin {
  margin-top: 50px;
}

.lsux-footer-left {
  text-align: left;
}

.lsux-footer-right {
  text-align: right;
}

.lsux-footer-center {
  text-align: center;
}