$brandFont: var(--brand-font-family);

$T95: normal 700 95px/116px $brandFont;
$T76: normal 700 76px/92px $brandFont;
$T61: normal 700 61px/74px $brandFont;
$T49: normal 700 49px/60px $brandFont;
$T39: normal 700 39px/48px $brandFont;
$T31: normal 700 31px/38px $brandFont;
$T28: normal 600 28px/32px $brandFont;
$T26: normal 500 26px/32px $brandFont;
$T20: normal 500 20px/24px $brandFont;
$T16: normal 500 16px/24px $brandFont;
$T14: normal 600 14px/16px $brandFont;
